#start
{
	border: 1px solid #000000;
	width: 123px;
	height: 56px;
	background-color: #F76A1E;
	font-size: 17pt;
	display: block;
	margin: auto;
	cursor: pointer;
}
BODY
{
	background-color: #CFD1D5;
}
#textNomic
{
	font-size: 50pt;
	text-align: center;
}
#information
{
	height: 1px;
	font-size: 12pt;
	display: block;
}
#continue
{
	display: block;
	border: 1px solid #000000;
	background-color: #1EECCF;
	font-size: 17pt;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 30px;
	/*[empty]position:;*/
}
